{% extends 'base.html' %}
{% block content %}

    <form method= "POST">
        {% csrf_token %} <!--a security measure to protect against malicious form submissions -->
        {{form}}
        <!--btn btn-primary will make the button colour blue -->
        <input class= "btn btn-primary" type= 'submit' value= 'Submit' />
    </form>
    <a href="{% url 'Project_Delete' project.id %}" > Delete </a>
    {% include 'project/task.html' with project=object %} <!--To add the task.html in the update page -->
                                          <!--Makes any project in task.html file represents object so instead of writing object.id we write project.id-->
{% endblock content %}
